/* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
}
#root {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 450px;
  border-radius: 10px;
  background-color: cornsilk;
  box-shadow: 0px 0px 10px blue;
  text-align: center;
}
h1{
  text-align: center;
  background-color: cornflowerblue;
  color: cornsilk;
}
input {
  width: 70%;
  height: 40px;
  text-align: center;
  color: cornflowerblue;
  border: none;
  outline: none;
  border-radius: 20px;
  margin: 10px;
  margin-bottom: 30px;
  font-weight: 600;
  box-shadow: 0px 0px 5px cornflowerblue;
  text-transform: capitalize;
}
button{
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  color: cornsilk;
  background-color: cornflowerblue;
  font-weight: 600;
  font-size: larger;
  box-shadow: 0px 0px 5px cornflowerblue;
}
button:hover{
  background-color: green;
}
li{
  list-style: none;
  color:cornflowerblue;
  text-align: left;
  font-weight: 600;
  font-size: larger;
  margin: 10px;
  text-transform: capitalize;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
